/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  /* outline: 2px solid green; */
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  line-height: 30px;
}

/* UTILS */

.item-container {
  display: flex;
}

.button {
  padding: 10px 15px;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.input-container {
  margin: 10px;
}

/* HEADER */
/* UPPER */
.upper-header {
  background-color: white;
  padding: 20px 10px;
}

.upper-header .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.upper-header .item-container {
  gap: 25px;
  align-items: center;
}

/* LOWER */
.lower-header {
  background-color: #b4d0e7;
  padding: 10px 0;
  position: relative;
  min-height: 600px;
}

.lower-header .container {
  width: 1200px;
  position: absolute;
  right: 0;
  left: 0;
  top: 32px;
  margin: 0 auto;
}

.jumbo {
  display: flex;
}

.lower-header .container > h1 {
  font-size: 3rem;
  margin: 20px 0;
  font-weight: 800;
}

.lower-header .text-container {
  display: flex;
  max-width: 30%;
  flex-direction: column;
  gap: 30px;
  font-size: 0.9rem;
  line-height: 20px;
}

.lower-header .image-container {
  max-width: 70%;
}

.lower-header .fa-solid {
  position: absolute;
  bottom: 110px;
}

/* MAIN */

.main-section {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-section .container:first-child {
  margin-top: 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.main-section .container {
  max-width: 1100px;
  margin: 0 auto;
}

.main-section .card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#brands {
  display: flex;
  margin: 0;
  max-width: 100%;
}

#brands .container {
  display: flex;
  margin: 0;
  justify-content: center;
  max-width: 100%;
}

#brands .container .item-container {
  width: 34%;
}
#side-brand-card .image-container {
  width: 50%;
  height: auto;
  object-fit: contain;
  padding: 50px;
}

#main-brand-card {
  background-color: #f5f5f5;
  display: flex;
  padding: 0 50px;
  flex-direction: column;
  font-size: 0.8rem;
  line-height: 20px;
}

#main-brand-card > hr {
  width: 30%;
  color: grey;
  align-self: flex-start;
}

#main-brand-card .image-container {
  width: 40%;
  height: 40%;
  margin: 0;
}

#bottom-brand-card {
  gap: 150px;
  padding: 100px 0;
}

#bottom-brand-card .button {
  padding: 10px 30px;
  border: none;
}

#faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}

#faq .card-list-item {
  justify-content: space-between;
  padding: 0 10px;
}

/* DUAL CONTAINER */

.main-section .dual-container {
  display: flex;
  gap: 15px;
  margin: 30px auto;
  max-width: 1100px;
}

.main-section .dual-container .image-container {
  width: 55%;
}

.main-section .dual-container .text-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  line-height: 20px;
}

.dual-container .text-container > h1 {
  line-height: 40px;
}

/* CARDS */

.card {
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 20px;
}

.size-small {
  width: 30%;
}

.size-athird {
  width: 33%;
}

.card-id {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 10px;
  padding: 15px 0;
}

.card-title {
  font-size: 2em;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.card-list-item {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.card-list-item:first-child {
  margin: 0;
}

.card-list .card-list-item > li {
  list-style: none;
}

.card.size-small .button {
  align-self: center;
  width: 100%;
}

.card-body > hr {
  width: 30%;
  align-self: flex-start;
}

.enterprise {
  position: relative;
}

.card.enterprise .button {
  position: absolute;
  right: 30px;
  padding: 10px 30px;
}

/* SPAM */
.whitetxtbluebg {
  color: white;
  background-color: #126cff;
}

.blacktxtwhitebg {
  color: #292929;
  border: 1px solid #292929;
  background-color: white;
}

.bgbrown {
  background-color: brown;
}

.bggreen {
  background-color: aquamarine;
}

.bgred {
  background-color: red;
}

.bgblue {
  background-color: #126cff;
}

.bglightblue {
  background-color: #b4d0e7;
}

.brown {
  color: rgb(102, 27, 27);
}

.opaque {
  opacity: 0.8;
}

.underline {
  text-decoration: underline;
}

.blue {
  color: #126cff;
}

.white {
  fill: white;
}

.bold {
  font-weight: bold;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.centered {
  margin: 0 auto;
}
