/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* UTILS */

.container {
  margin: 0 auto;
}

.item-container {
  display: flex;
}

.image-container {
  object-fit: cover;
}

.button {
  padding: 10px 15px;
  width: fit-content;
  height: fit-content;
}

.input-container {
  margin: 10px;
}

/* HEADER */
/* UPPER */
.upper-header {
  background-color: white;
  padding: 20px 10px;
}

.upper-header .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.upper-header .item-container {
  gap: 25px;
  align-items: center;
}

/* LOWER */
.lower-header {
  background-color: #b4d0e7;
  padding: 10px 0;
  position: relative;
  min-height: 500px;
}

.lower-header .container {
  width: 900px;
  position: absolute;
  right: 0;
  left: 0;
  top: 32px;
}

.jumbo {
  display: flex;
}

.lower-header .container > h1 {
  font-size: 3rem;
  margin: 20px;
  font-weight: 800;
}

.lower-header .text-container {
  display: flex;
  max-width: 30%;
  flex-direction: column;
  gap: 30px;
  font-size: 0.9rem;
  line-height: 20px;
}

.lower-header .image-container {
  max-width: 70%;
}

/* MAIN */

.main-section {
  width: 900px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-section:first-child {
  margin-top: 100px;
}

.main-section .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 30%;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
}

.card-title {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 10px;
  padding: 15px 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.card-list {
  padding: 20px 0;
}

.card-list-item {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.card-list .card-list-item > li {
  font-size: 0.9rem;
  line-height: 20px;
  list-style: none;
}

/* SPAM */
.whitetxtbluebg {
  color: white;
  background-color: #126cff;
}

.opaque {
  opacity: 0.8;
}
